// $primary: #276fc2;
// $secondary: #e8d21d;
// $border-radius: 1px;

@import '../node_modules/bootstrap/scss/bootstrap';

.box1 {
  background-color: #ff5733;
}
.box2 {
  background-color: #55a5d8;
}
.box3 {
  background-color: #8de3a9;
}
